.App {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: calc(1rem + 3vw + 2vh);
  font-weight: bolder;
  background: linear-gradient(to right, rgb(58, 146, 247), rgb(3, 251, 164));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
